@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black-primary text-text-light font-sans m-0 p-0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-text-light;
  }
}

.text-neon {
  color: #E63946;
  text-shadow: 0 0 5px rgba(245, 169, 78, 0.8), 0 0 15px rgba(245, 169, 78, 0.6), 0 0 30px rgba(245, 169, 78, 0.4);
}

.icon-neon {
  color: #E63946;
  filter: drop-shadow(0 0 8px rgba(245, 169, 78, 0.6));
}




.neon-hover-effect {
  color: #f8d7da;
  -webkit-text-stroke: 0px transparent;
  text-shadow: none;
  transition: all 0.3s ease-in-out;
}

.neon-hover-effect:hover, .neon-hover-effect:active {
  color: #000000;
  -webkit-text-stroke: 2px #E63946;
  text-shadow: 0 0 10px #E63946, 0 0 20px #E63946, 0 0 40px #E63946;
}

.nav-logo-hover {
  color: #f8d7da;
  transition: all 0.3s ease-in-out;
}
.group:hover .nav-logo-hover, .nav-logo-hover:hover {
  color: #E63946;
  text-shadow: 0 0 5px rgba(245, 169, 78, 0.8), 0 0 15px rgba(245, 169, 78, 0.6), 0 0 30px rgba(245, 169, 78, 0.4);
}

.icon-nav-hover {
  color: #f8d7da;
  transition: all 0.3s ease-in-out;
}
.group:hover .icon-nav-hover, .icon-nav-hover:hover {
  color: #E63946;
  filter: drop-shadow(0 0 8px rgba(245, 169, 78, 0.6));
}
